html, body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 119, 255, 0.623);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 625;
}

ol, ul {
	list-style: none;
}

.panel-pricing-table{
    min-height: 55vh;
    min-width: 81vw;
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 1% 0;
    border-radius: 20px;
}

.pricing-plan{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0;
    padding: 2% 0;
    border: 0.5px solid rgba(128,128,128,0.2);
    border-top: 0;
    border-bottom: 0;
    width: 27vw;

}


.pricing-plan:last-child, .pricing-plan:first-child {
    border-left: 0;
    border-right: 0;
}



.pricing-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 119, 255, 1);
    padding-top: 5%;
    padding-left: 0;
    margin-top: 7%;
    margin-bottom: 0;
    font-weight: 1000;
}

.pricing-features-item{
    width: 14vw;
    padding: 1.7vh 0 0;
    border-top: 0.5px solid rgba(128,128,128,0.2);
    margin: 0 0 1.7vh;
    text-align: center;

}

.pricing-header{
    display: flex;
    color: gray;
    margin-top: 6%;


}


.pricing-price{
    width: 14vw;
    text-align: center;
    padding: 1.5vh 0 0;
    font-size: 2.5em;
    color: rgba(0, 119, 255, 1);
    font-weight: 1000;
    border-top: 0.5px solid rgba(128,128,128,0.2);
}


.pricing-button{
    text-decoration: none;
    margin: 4vh 0 0;
    font-size: 1.2em;
    color: rgba(0, 119, 255, 1);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid rgba(0, 119, 255, 0.5);
    padding: 0.7vh 2vw 0.7vh;
    transition: background-color 0.1s, color 0.1s;
}

.pricing-button:hover{
    background-color: rgba(0, 119, 255, 1);
    color: white;
}


.pricing-img{
    width: 40%;
    height: auto;
}

