body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 20vh;
}


select{
    width: 4em;
    height: 3em;
    text-align: center;
}

div.maxscore{
    margin-bottom: 2vh;
}

option{
    display: flex;
    justify-content: center;
}

section.buttons{
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    flex-wrap: wrap;
    max-width: 50em;
    block-size: fit-content;
}

section.buttons button{
    height: 5vh;
    width: 10vw;
    margin: 1vh;
}

#reset{
    height: 12vh;
    width: 5vw;
}
