* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.heroBanner {
    height: auto;
    margin-top: 5vh;
}

#logo {
    border-radius: 3em;
    width: 100%;
}

main.carouselWrapper {
    overflow: hidden;
    font-family: 'Quicksand';
}

.products {
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

h2 {
    font-weight: 500;
}

.productWrapper {
    position: relative;
    height: 400px;
}

img {
    width: 220px;
    border-radius: 10px 10px 0 0;
}

.prevButton,
.nextButton {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0.5px gray;
}



.favButton {
    position: absolute;
    right: 5%;
    top: 2%;
    color: gray;
    border: none;
    border-radius: 100%;
    background: none;
    cursor: pointer;
}

.favTrueIcon,
.favFalseIcon:hover {
    color: orange;
}


.products div {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
}

.productName {
    font-size: 13px;
}

.addButton {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 40px;
    height: 40px;
    color: rgb(0, 140, 255);
    background-color: white;
    position: absolute;
    right: 3%;
    bottom: 3%;
    box-shadow: 0px 0.5px gray;

}

.addButton:hover {
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
}

.products div:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.currentPrice {
    margin-top: auto;
    font-size: '18px',
}

.sepette {
    font-size: 10px;
    line-height: 1.6;
    margin: 0;
}

@media (max-width: 1140px) {

    section,
    main {
        width: 720px;
    }

    .products {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

}

@media (max-width: 850px) {

    section,
    main {
        width: 490px;
    }
}

@media (max-width: 650px) {

    #babyBanner,
    .prevButton,
    .nextButton {
        display: none;
    }

    .productWrapper {
        width: 150px;
        height: 330px;
    }

    img {
        width: 140px;
    }

    .carouselWrapper,
    .heroBanner {
        width: 320px;
    }


    .currentPrice {
        font-size: 12px,
    }

    .productName {
        font-size: 12px;
    }

    .productWrapper:last-of-type{
        margin-right: 10px;
    }
}


@media (min-width: 1141px) {

    section,
    main {
        width: 960px;
    }
}

@media (min-width: 1480px) {

    section,
    main {
        width: 1200px;
    }
}